<div class="confirm">
<span class="close">x</span>
<h1>are you sure?</h1>
<p>(there would be a list of items currently selected here)</p>
<button type="button" class="yessure">yes, i'm sure</button>
</div>