<div class="lookpop winpop">
	<div class="close">x</div>
	<h1>username</h1>
	<p>(profile information here)</p>
</div>

<div class="addpop winpop">
	<div class="close">x</div>
	<h1>friend request sent!</h1>
</div>

<div class="delpop winpop">
	<div class="close">x</div>
	<h1>friend request declined...</h1>
</div>