<div class="popup">
	<span id="close">x</span>
	<h1>how do i see my friend's profile?</h1>
	<p>The first tab is a list of all your current friends -- simply click on the blue button on the right to go to their profile page!</p>
	<br>
	<h1>how do i add friends?</h1>
	<p>Go to the second tab, 'add', and you can search users by name and send them a friend request if you so desire. Not everyone will show up in the search, though! There is an option to disallow strangers to see your profile or send you a request.</p>
	<br>
	<h1>where can i see these friend requests?</h1>
	<p>The third tab has a list of outstanding requests! You can accept or decline at your leisure.</p>
	<br>
	<h1>how will i know i have a friend request?</h1>
	<p>Don't worry, the game will notify you whenever someone asks to be your friend.</p>
</div>