<div class="popup">
	<span id="close">x</span>
	<h1>what's on here?</h1>
	<p>You get to see your current avatar, with your profile's name and description to the right. You can edit both fields, though! You also can click the equipment icons to check what you currently have equipped in that slot.</p>

	<p>This page also shows your current level, experience, and gold. You can also opt-out of showing up in a stranger's search!</p>
	<br>

	<h1>i changed my name/description, but nothing happened!</h1>
	<p>Don't forget to press 'save changes' once you're finished editing your profile.</p>
	<br>
	<h1>what can other people see?</h1>
	<p>Your avatar, name, personal description, equipment, level, and experience. (Be aware: even if you check 'I do not want to be seen by others', those on your friends list can still see your profile.)</p>
</div>