<div class="popup">
	<span id="close">x</span>
	<h1>what do the levels mean?</h1>
	<p>It means your character must be of a specific level (or higher!) in order to purchase or equip that particular item.</p>

	<h1>what does the green check mean?</h1>
	<p>That means you have that item in your inventory.</p>

	<h1>how do i buy/sell things?</h1>
	<p>If you touch an item you don't own, it'll be added to your cart -- if you touch an item you do own, that means you want to sell it! The money on-screen shows 'before' and 'after' you make the transactions. </p>

	<h1>what if i buy/select things by accident?</h1>
	<p>You can press the reset button to clear your choices! And don't worry; when you click 'checkout', you'll be presented with a list of all the things you want to buy and/or sell. That's when you can confirm your final order.</p>

	<h1>why are these so expensive?</h1>
	<p>Sorry.</p>
</div>