<div class="popup">
	<span id="close">x</span>
	<h1>what is an 'adventure'?</h1>
	<p>An aventure is an excursion your character can embark upon, either by themselves (solo) or in a party (group)!</p>

	<h1>what do i do while on an adventure?</h1>
	<p>Lovingly gaze at your avatar.</p> 

	<p>But in all seriousness, this game is designed to remove distractions -- so there's not much to do in the game itself while you're on an adventure. Go do your work!</p>

	<h1>can i stop an adventure early?</h1>
	<p>Absolutely! Simply press 'end adventure' and you'll receive your rewards. Do be aware, however, that you earn more experience and gold the longer your adventure lasts.</p>

	<h1>how do i start an adventure?</h1>
	<p>If you're alone, press 'solo'. If you're working in a group and would like to start a group adventure, press 'group'.</p>
</div>