<div class="popup">
	<span id="close">x</span>
	<h1>how do i host a group?</h1>
	<p>When you host a group, you set the time and break frequency -- then you choose people on your friends list, invite them, and voila! You're now the host of a group.</p>

	<h1>what do i do as a host?</h1>
	<p>Nothing much. The only difference between hosting and going solo is that you're doing an adventure with friends. Once the adventure starts, you're all pretty much even. Anyone can leave the adventure at any time, and it ends when there's no one left.</p>


	<h1>how do i join a group?</h1>
	<p>If a friend of yours has invited you to join their group, you'll get a notification. You can go to 'join group' to see which adventuring teams you've been invited to -- you also get to see the timer details of that group! Just click 'join' to hop on in.</p>

	<h1>why can't i invite strangers to my group?</h1>
	<p>Hasn't anyone taught you about 'stranger danger'?</p>
</div>