<div class="popup">
	<span id="close">x</span>
	<h1>what does taking a break do?</h1>
	<p>WJust what it says on the tin! All work and no play makes Jack a dull boy -- and it'll dull your mind, too. If you choose to have breaks, the game will remind you to rest a bit. After a few minutes, the game will notify you and ask if you want to keep going. </p>

	<h1>what's 'fighting a boss' mean?</h1>
	<p>After a certain period of time, your adventurer can choose to face off against a scary monster. Defeat it, and you'll get incredible rewards! Bosses can also drop some pretty sweet loot, but worry not -- even if you lose, you get a reward for trying.</p>

	<h1>can i leave before the time is up?</h1>
	<p>Absolutely! How you play is entirely up to you. Just remember: the longer you go, the more you get. Reaching a checkpoint -- a break or a boss -- will also add a multiplier to however much experience and gold you've gained in that adventure.</p>

	<h1>can i end and come back later?</h1>
	<p>Unfortunately, no. Once you end your adventure, that's that.</p>
</div>