<div class="popup">
	<span id="close">x</span>
	<h1>what is an 'adventure'?</h1>
	<p>An aventure is an excursion your character can embark upon, either by themselves (solo) or in a party (group)!</p>

	<h1>what do i do while on an adventure?</h1>
	<p>The short answer is: nothing. You can set intervals where the game will remind you to take a break, but remember -- 
</div>