<div class="popup">
	<span id="close">x</span>
	<h1>what do i do here?</h1>
	<p>Play dress-up. You can equip your avatar with the equipment you've bought at the shop or received from bosses. Pressing an item will show a preview of it on your avatar!</p>

	<h1>okay, so how do i change my outfit?</h1>
	<p>You have six gear slots: head, torso, legs, weapon, accessory, and pet. Just press whichever ones you like to preview them on your avatar -- if you're satisfied, you can save your changes.</p>

	<h1>help, i messed up my outfit!</h1>
	<p>Worry not! If you haven't saved your changes, you can simply press the 'reset' button to the right to change your avatar back to whatever they were wearing before.</p>

	<h1>why can't i have two weapons/pets/etc?</h1>
	<p>You can't equip two pieces of gear in the same slot because, quite frankly, it might get a little ridiculous. (See: someone walking around with two broadswords.) You can't have two pets with you because we said so.</p>
</div>