<div id="menu">
	<a href="self"><img src="imgs/self.png" alt="self"/></a>
	<a href="equip"><img src="imgs/equip.png" alt="equip"/></a>
	<a href="shop"><img src="imgs/shop.png" alt="shop"/></a>
	<a href="friends"><img src="imgs/friends.png" alt="friends"/></a>
	<div class="menu-bottom" id="faq">need help?</div>
	<!--<div class="menu-bottom" id="logout"><a href = "/"> log out </a></div>-->
</div>