<!doctype HTML>
<html>
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" type="text/css" href="/css/friends.css">
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>

<body>

	<div id="wrap">
		<div id="content">
			<div id="backbar">
				<a href="home"><img src="imgs/home.png"/></a>
				<div class="trail">
					friends
				</div>
				<div id="logout"><a href = "/"> log out </a></div>
			</div>

			<div class="tabs">
				<img src="http://placehold.it/110x50"/><img src="http://placehold.it/110x50"/><img src="http://placehold.it/110x50"/>
			</div>
			<div class="flist">
				<form id="flist">
					<input type="text" name="search" placeholder="search" /><img src="http://placehold.it/35x35"/>
				</form>
				
				<div id="info">
					<div id="info-in">
						{{#each friends}}
						<div class="entry">
							<img src={{avatar}}/>
							<div class="level">{{level}}</div>
							<div class="name">{{username}}</div>
							<div class="desc">{{description}}</div>
							<div class="prof">&nbsp;</div>
						</div>
					<!--	
						<div class="entry">
							<img src="https://placehold.it/100x100"/>
							<div class="level">20</div>
							<div class="name">namehere</div>
							<div class="desc">lorem ipsum dolor sit amet idk man help</div>
							<div class="prof">&nbsp;</div>
						</div>

						<div class="entry">
							<img src="https://placehold.it/100x100"/>
							<div class="level">20</div>
							<div class="name">namehere</div>
							<div class="desc">lorem ipsum dolor sit amet idk man help</div>
							<div class="prof">&nbsp;</div>
						</div>

						<div class="entry">
							<img src="https://placehold.it/100x100"/>
							<div class="level">20</div>
							<div class="name">namehere</div>
							<div class="desc">lorem ipsum dolor sit amet idk man help</div>
							<div class="prof">&nbsp;</div>
						</div> -->
						{{/each}}
					</div>
				</div>
			</div>
		</div>

		<div id="navbar">
			<div id="stats">
				&nbsp;
			</div>

			<div id="menu">
				<a href="self"><img src="imgs/self.png" alt="self"/></a>
				<a href="equip"><img src="imgs/equip.png" alt="equip"/></a>
				<a href="shop"><img src="imgs/shop.png" alt="shop"/></a>
				<a href="friends"><img src="imgs/friends.png" alt="friends"/></a>
			</div>
		</div>
	</div>

</body>