<!doctype HTML>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link rel="stylesheet" type="text/css" href="/css/group.css">
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>

<body>

	<div id="wrap">
		<div id="content">
			<div id="backbar">
				<a href="home"><img src="imgs/home.png"/></a>
				<div class="trail">
					group adventure
				</div>
			</div>

			<h1>what will you do?</h1>
			<button type="button" name="begin" onclick="location.href = 'quest';">host a group</button>
			<button type="button" name="begin">join friends</button>
		
		</div>

		<div id="navbar">
			<div id="stats">
				<div class="exp">EXP</div>
				<div class="exp-bar">&nbsp;</div>
				<img src="imgs/moneys.png"/>
				<div class="gold">50,000</div>
			</div>

			{{> menu}}
		</div>
	</div>

</body>