<!doctype HTML>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>
<script type="text/javascript">
var user = JSON.parse(localStorage.getItem("userAccount"));
</script>
<body>

	<div id="wrap">
		<div id="content">
			<div id="backbar">
				<a href="home"><img src="imgs/home.png"/></a>
				<div class="trail">
					your home
				</div>
				<div id="logout"><a href = "/"> log out </a></div>
			</div>
			<div class="name">
				<script type="text/javascript">
					var user = JSON.parse(localStorage.getItem("userAccount"));
					document.write(user.charName);
				</script>
			</div>
			<div class="image">
				<img src="http://placehold.it/225x225"/> 
				<div class="lvl">LVL 50</div>
			</div>

			<h1>go on an adventure?</h1>

			<button type="button" name="solo" onclick="location.href = 'quest';">solo</button>
			<button type="button" name="group" onclick="location.href = 'group';">group</button>
		</div>

		<div id="navbar">
			<div id="stats">
				<div class="exp">EXP</div>
				<div class="exp-bar">
					<div class="exp-progress" style="width: 20%;">&nbsp;</div>
				</div>
				<img src="/imgs/moneys.png"/>
				<div class="gold">50,000</div>
			</div>

			<div id="menu">
				<a href="self"><img src="/imgs/self.png" alt="self"/></a>
				<a href="equip"><img src="/imgs/equip.png" alt="equip"/></a>
				<a href="shop"><img src="/imgs/shop.png" alt="shop"/></a>
				<a href="friends"><img src="/imgs/friends.png" alt="friends"/></a>
			</div>
		</div>
	</div>

</body>