<!doctype HTML>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>

<body>

	<div id="wrap">
		<div id="content">
			<div class="name">myname</div>
			<div class="image">
				<img src="http://placehold.it/250x250"/> 
				<div class="lvl">LVL 50</div>
			</div>

			<h1>go on an adventure?</h1>

			<button type="button" name="solo" onclick="location.href = 'quest';">solo</button>
			<button type="button" name="group" onclick="location.href = 'group';">group</button>
			<a href = "/"> log out </a>
		</div>

		<div id="navbar">
			<div id="stats">
				<div class="exp">EXP</div>
				<div class="exp-bar">&nbsp;</div>
				<img src="/imgs/moneys.png"/>
				<div class="gold">50,000</div>
			</div>

			<div id="menu">
				<a href="self"><img src="/imgs/self.png" alt="self"/></a>
				<a href="equip"><img src="/imgs/equip.png" alt="equip"/></a>
				<a href="shop"><img src="/imgs/shop.png" alt="shop"/></a>
				<a href="friends"><img src="/imgs/friends.png" alt="friends"/></a>
			</div>
		</div>
	</div>

</body>