<!doctype HTML>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="/js/index.js"></script>
</head>

<body>

	<div id="content">

		<h1>APPNAMEHERE</h1>
		<div class="subtitle">the productivity rpg</div>

		<img src="http://placehold.it/350x150" />

		<form id="login" method = "get" action = "/">
			<input type="text" name="username" placeholder="username" class = "account" />
			<input type="password" name="password" placeholder="password" class = "account" />
			<button type="button" name="login" id="log">log in!</button>
			<button type="button" name="register" id="register">(or create an account)</button>
		</form>

	</div>

</body>
</html>