<!doctype HTML>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link rel="stylesheet" type="text/css" href="/css/self.css">
	<link rel="stylesheet" type="text/css" href="/css/profile.css">
	{{> imports}}
	<script src="/js/self.js"></script>
</head>

<body>
	hello friend	
</body>