<!doctype HTML>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link rel="stylesheet" type="text/css" href="/css/self.css">
	<link rel="stylesheet" type="text/css" href="/css/profile.css">
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="/js/self.js"></script>
</head>

<body>

	<div id="wrap">
		<div id="content">
			<div id="backbar">
				<a href="home"><img src="imgs/home.png"/></a>
				<div class="trail">
					your profile
				</div>
				<div id="logout"><a href = "/"> log out </a></div>
			</div>

			<div id="self">	
				<img src="http://placehold.it/170x170"/>
				<div class="desc">
					<div class="text">
						<form id="self-form">
							<h1><div id="namefield">
								<script type="text/javascript">
									var user = JSON.parse(localStorage.getItem(localStorage.getItem("user")));
									document.write(user.charName);
								</script>
								<a href="#"><img src="http://placehold.it/15x15"/ id="namebtn"></a></div></h1>
							<p>your personal message goes here</p>
						</form>
					</div>
				</div>
			</div>

			<div id="info">


				<div class="tabs">
					<img src="imgs/top-tab.png" name="top-tab"/><img src="imgs/bottom-tab.png" name="bottom-tab"/><img src="imgs/hat-tab.png" name="hat-tab"/><img src="imgs/weapon-tab.png" name="weapon-tab"/><img src="imgs/stylin-tab.png" name="stylin-tab"/><img src="imgs/pet-tab.png" name="pet-tab"/>
					<!-- use js/jquery in order to replace img name with {{name}}-off.png -->
				</div>

				<div class="lvl">
					<div class="bar">&nbsp;</div><h1>LVL 50</h1><div class="bar">&nbsp;</div>
				</div>

				<div class="exp">EXPERIENCE</div> <div class="exp-bar">
					<div class="exp-progress" style="width: 20%">&nbsp;</div>
				</div>
				<div class="exp-txt">500/1,000</div>

				<div class="money">
					<div class="exp mons">MONEY</div> <img src="imgs/moneys.png" class="coin"/> <div class="gold">10,000,000</div>
				</div>

				<div class="priv">
					<input type="checkbox" name="private" value="yes">
						I don't want to be seen by others.
					</input>
				</div>
					<button type="button" name="save" id = "save">save changes</button>
				
			</div>

		</div>

		<div id="navbar">
			<div id="stats">
				&nbsp;
			</div>

			<div id="menu">
				<a href="self"><img src="imgs/self.png" alt="self"/></a>
				<a href="equip"><img src="imgs/equip.png" alt="equip"/></a>
				<a href="shop"><img src="imgs/shop.png" alt="shop"/></a>
				<a href="friends"><img src="imgs/friends.png" alt="friends"/></a>
			</div>
		</div>
	</div>

</body>