body {
	background-image:url("");
	background-color: #dddddd;
}

.tabs {
	clear: both;
	margin-top: 10px;
	margin-left: 6px;
}

.tabs img {
	float: left;
	border: solid 2px #ffffff;
	border-bottom: 0px;
}

.flist {
	clear: both;
	border: solid 2px #ffffff;
	display: inline-block;
	width: 350px;
	overflow: hidden;
}

.flist img {
	float: left;
	margin-top: 5px;
}

#flist input[type="text"] {
	width: 280px;
	height: 13px;
	padding: 10px;
	border: 0px;
	margin: 5px;
	border-bottom: solid 3px #cccccc;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #444444;
	transition: border 0.3s;
	-moz-transition: border 0.3s;
	-webkit-transition: border 0.3s;
	-o-transition: border 0.3s;
	outline: none;
	float: left;
}

#flist input[type="text"]:focus, #flist input[type="text"].focus {
	outline: none;
	border-bottom: solid 3px #aaaaaa;
	transition: border 0.3s;
	-moz-transition: border 0.3s;
	-webkit-transition: border 0.3s;
	-o-transition: border 0.3s;
}

#info {
	width: 340px;
	margin: 5px;
	height: 325px;
	overflow: hidden;
}

#info-in {
	height: 325px;
	width: 355px;
	overflow: auto;
}

.entry {
	clear: both;
	height: 100px;
	text-align: left;
}

#info img {
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
	position: relative;
	z-index: 1;
	height: 100px;
	width: 100px;
}

#info .level {
	font-family: 'Patua One', cursive;
	font-size: 15px;
	float: left;
	margin-top: 85px;
	margin-left: -100px;
	position: relative;
	width: 85px;
	text-align: right;
	z-index: 2;
}

#info .name {
	font-family: 'Patua One', cursive;
	font-size: 20px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	height: 20px;
	width: 180px;
}

#info .desc {
	width: 180px;
	float: left;
	overflow: hidden;
	margin-top: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	height: 69px;
	padding: 0px 5px 5px 5px;
	letter-spacing: -1px;
	background-color: #eeeeee;
}

#info .prof {
	height: 110px;
	float: right;
	width: 35px;
	background-color: #cccccc;
	margin-top: -30px;
	text-align: center;
}

#info .profhover {
	background-color: #fff;
	height: 110px;
	width: 35px;
	position: relative;
	z-index: 4;
	opacity: 0;
}

#info .profhover:hover {
	opacity: .3;
}

#info .profhover img {
	height: 110px;
	width: 35px;
	opacity: 0;
}