body {
	background-image:url("");
	background-color: #dddddd;
}

h1 {
	text-align: center;
	font-family: 'Patua One',cursive;
	font-size: 35px;
	margin: 0px;
	clear: both;
	margin: 110px 0px 10px 0px;
	height: 35px;
	line-height: 35px;
	letter-spacing: -1px;
}

button[type="button"] {
	margin: auto;
	width: 250px;
	height: 55px;
	border: 0px;
	margin-top: 5px;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	letter-spacing: -1px;
	line-height: 50px;
	color: #000000;
	border-bottom: solid 4px #aaaaaa;
	margin-top:  15px;
}