.popup {
    width: 300px;
    height: 375px;
    background: #eeeeee;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 90px;
    z-index: 9999999;
    padding: 25px;
    text-align: justify;
    overflow: hidden;
}

span {
	float: right;
	height: 20px;
  width: 20px;
  margin-top: -10px;
  margin-right: -10px;
  line-height: 20px;
	font-family: 'Patua One',serif;
  font-size: 25px;
}

.popup h1 {
  font-family: 'Patua One',cursive;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0px;
}

.popup p {
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
}