body {
	background-image:url("");
	background-color: #dddddd;
}

#content .image {
	margin: auto;
	margin-bottom: -25px;
	height: 250px;
	width: 250px;
	overflow: visible;
}

#content .lvl {
	font-family: 'Patua One', cursive;
	font-size: 20px;
	text-align: right;
	margin: -30px 5px 0px 0px;
}

#content .name {
	clear: both;
	font-family: 'Patua One', cursive;
	font-size: 30px;
	margin-bottom: 5px;
	position: relative;
	margin-top: -50px;
}

#content h1 {
	width: 100%;
	height: 70px;
	font-family: 'Patua One', cursive;
	font-weight: light;
	font-size: 35px;
	letter-spacing: -1px;
	color: #000000;
	line-height: 100px;
	margin-top: -5px;
	margin-bottom: 0px;
	clear: both;
}

button[type="button"] {
	width: 250px;
	height: 40px;
	border: 0px;
	margin-top: 10px;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	letter-spacing: -2px;
	color: #000000;
	border-bottom: solid 4px #aaaaaa;
}