body {
	background-image:url("");
	background-color: #dddddd;
}

#content {
	width: 350px;
	margin: auto;
	text-align: center;
	margin-top: 0px;
}

#content h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 70px;
	letter-spacing: -5px;
	color: #000000;
	line-height: 90px;
	margin-top: 10px;
	border-bottom: solid 4px #000000;
	margin-bottom: 5px;
}

#content img {
	margin: auto;
}

.subtitle {
	font-family: 'Patua One', cursive;
	font-size: 30px;
	letter-spacing: 0px;
	margin-bottom: 20px;
}

#login {
}

#login input[type="text"], #login input[type="password"]/*, #login input[type="email"] */{
	width: 320px;
	height: 15px;
	padding: 15px;
	border: 0px;
	margin-top: 5px;
	border-bottom: solid 4px #cccccc;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #444444;
	transition: border 0.3s;
	-moz-transition: border 0.3s;
	-webkit-transition: border 0.3s;
	-o-transition: border 0.3s;
}

#login input[type="text"]:focus, #login input[type="text"].focus,
#login input[type="password"]:focus, #login input[type="password"].focus {
	outline: none;
	border-bottom: solid 4px #aaaaaa;
	transition: border 0.3s;
	-moz-transition: border 0.3s;
	-webkit-transition: border 0.3s;
	-o-transition: border 0.3s;
}

#login #log {
	width: 350px;
	height: 55px;
	border: 0px;
	margin-top: 5px;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 50px;
	color: #000000;
	border-bottom: solid 4px #aaaaaa;
}

#login #register {
	width: 350px;
	height: 30px;
	border: 0px;
	margin-top: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	letter-spacing: -1px;
	line-height: 20px;
	color: #000000;
}

.account{
	
}